@import "tailwindcss";

/* override heading reset */
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: unset; /* or initial */
    font-weight: unset; /* optional */
  }
}

/* TipTap / ProseMirror list fixes */
@layer base {
  .ProseMirror ul {
    list-style-type: disc;
    padding-left: 1.25rem;
  }

  .ProseMirror ol {
    list-style-type: decimal;
    padding-left: 1.25rem;
  }

  .ProseMirror li {
    margin: 0.25rem 0;
  }
}
